:root {
    --color-progress-hunger: #56cb59; /* Stimmung - Gelb */
    --color-progress-spielen: #af544c;  /* Spielen - Grün */
    --color-progress-schlaf: rgb(94, 80, 248);     /* Schlaf - Rot */
}

body {
    background-color: #d0ebff;
    text-align: center;
    padding: 0px;
    font-family: "Comic Sans MS" !important;
}
#tamagotchi {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 550px;
    margin: auto;
}
button {
    font-family: "Comic Sans MS" !important;
    width: 30%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px !important;
}
.feed-button { background-color: var( --color-progress-hunger); color: white; font-size: 30px;}
.play-button { background-color: var( --color-progress-spielen); color: white; font-size: 30px; }
.sleep-button { background-color: var(--color-progress-schlaf); color: white; font-size: 30px; }
#avatar {
    width: 300px;
    height: 300px;
    margin-top: 0px;
}
.status {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
}

/* Allgemeines Styling für alle Progressbars */
progress {
    width: 100%; /* Breite der Progressbar */
    height: 30px; /* Höhe der Progressbar */
    border-radius: 10px; /* Abrundung der Ecken */
    background-color: #d0ebff; /* Hintergrundfarbe der leeren Progressbar */
}

/* Pseudo-Element für den Fortschrittswert */
progress::-webkit-progress-bar {
    background-color: #d0ebff; /* Hintergrundfarbe der leeren Progressbar */
    border-radius: 10px;
}

/* Fortschrittswert für Hunger (blaue Farbe) */
progress#hunger::-webkit-progress-value {
    background-color: var(--color-progress-hunger); /* Blaue Farbe */
    border-radius: 10px;
}

progress#hunger::-moz-progress-bar {
    background-color: var(--color-progress-hunger); /* Blaue Farbe */
    border-radius: 10px;
}

/* Fortschrittswert für Stimmung (gelbe Farbe) */
progress#stimmung::-webkit-progress-value {
    background-color: var(--color-progress-stimmung); /* Gelbe Farbe */
    border-radius: 10px;
}

progress#stimmung::-moz-progress-bar {
    background-color: var(--color-progress-stimmung); /* Gelbe Farbe */
    border-radius: 10px;
}

/* Fortschrittswert für Schlaf (rote Farbe) */
progress#schlaf::-webkit-progress-value {
    background-color: var(--color-progress-schlaf); /* Rote Farbe */
    border-radius: 10px;
}

progress#schlaf::-moz-progress-bar {
    background-color: var(--color-progress-schlaf); /* Rote Farbe */
    border-radius: 10px;
}

/* Fortschrittswert für Spielen (grüne Farbe) */
progress#stimmung::-webkit-progress-value {
    background-color: var(--color-progress-spielen); /* Grüne Farbe */
    border-radius: 10px;
}

progress#stimmung::-moz-progress-bar {
    background-color: var(--color-progress-spielen); /* Grüne Farbe */
    border-radius: 10px;
}
